* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

body {
  background-color: #eee;
  overflow-x: hidden;
}
.container {
  width:80%;
  margin: 0px auto;
}